<section class="container" ng-controller="HomeController as vm">
    <header class="search-bar">
        <div>
            <paper-input-decorator label="GitHub Repo Search">
                <input is="core-input" ng-model="repoSearchTerm" ng-change="findRepos()">
            </paper-input-decorator>
        </div>
    </header>
    <section class="search-results">
        <div ng-show="vm.loading">
            <paper-spinner active></paper-spinner>
            <div>Searching...</div>
        </div>
        <div>
            <ul>
                <li ng-repeat="result in vm.Repos">
                    <repo-card repo=result.data></repo-card>
                </li>
            </ul>
        </div>
    </section>
</section>