<section class="container" ng-controller="HomeController as vm">
    <section>
        <header>
            <h1>GitHub Search</h1>
            <div>
                <paper-input-decorator label="GitHub Repo Search">
                    <input is="core-input" ng-model="repoSearchTerm" ng-change="findRepos()">
                </paper-input-decorator>
            </div>
            <div>
                <div ng-show="vm.loading">
                    <paper-spinner active></paper-spinner>
                    <div>Searching...</div>
                </div>
                <div>
                    <header>
                        <h1>Results [{{vm.Repos.length}}]</h1>
                    </header>
                    <div>
                        Sort!
                    </div>
                    <ul>
                        <li ng-repeat="result in vm.Repos">
                            <section>
                                <header>
                                    <h1>
                                    <a href="{{result.data.html_url}}">
                                    {{result.data.full_name}}
                                    </a>
                                    </h1>
                                    <p>{{result.data.description}}</p>
                                </header>
                                <div>
                                    Last Updated:{{result.data.updated_at}}
                                </div>
                                <div>
                                    Language:{{result.data.language}}
                                </div>
                                <div>
                                    Owner?
                                    <div>
                                        <figure>
                                            <img ng-src="{{result.data.owner.avatar_url}}" class="avatar" width="20" height="20" />
                                        </figure>
                                        {{result.data.owner.login}}
                                    </div>


                                </div>
<!-- <div>
    <small>{{result}}</small>
</div>
 -->

                            </section>

                        </li>
                    </ul>

                </div>
        </header>
    </section>
    <section>
        <header>
            <h1>Todo</h1>
            <ul>
                <li>Implement Search bar for Github Repos</li>
                <li>List GitHub Repo Results</li>
                <li>Clicking GitHub Repo will open/show repo links/data</li>
                <li>Develop header search</li>
            </ul>
        </header>
    </section>
</section>
